<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        img {
            object-fit: contain;
            max-width: 100%;
        }

        .primary-image {
            height: 300px;
        }

        .images {
            height: 150px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row py-3">
                <div class="col">
                    <div class="text-end mt-4">
                        <button class="btn btn-warning" @click="openModal('new')">
                            建立新的產品
                        </button>
                    </div>
                    <table class="table mt-4">
                        <thead>
                            <tr>
                                <th width="120">分類</th>
                                <th width="120">
                                    產品名稱
                                </th>
                                <th width="120">
                                    原價
                                </th>
                                <th width="120">
                                    售價
                                </th>
                                <th width="120">
                                    是否啟用
                                </th>
                                <th width="120">
                                    編輯
                                </th>
                            </tr>
                        </thead>
                        <tbody id="productList">
                            <tr v-for="item in products" :key="item.id">
                                <td> {{item.category}} </td>
                                <td> {{item.title}} </td>
                                <td> {{item.origin_price}} </td>
                                <td> {{item.price}} </td>
                                <td>
                                    <span class="text-success" v-if=item.is_enabled>啟用</span>
                                    <span v-else>未啟用</span>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" :id="item.id"
                                            checked @click="changeActiveState(item)">
                                        <label class="form-check-label"></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <!-- 將當前的 item 傳進去-->
                                        <button type="button" class="btn btn-outline-success btn-sm"
                                            @click="openModal('edit',item)">
                                            編輯
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm"
                                            @click="openModal('delete',item)">
                                            刪除
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>本頁面有 <span id="productCount"> {{products.length}} </span> 項產品</p>
                </div>
            </div>
            <!-- 分頁元件 -->
            <pagination :pages="pagination" @get-product="getAllProducts"></pagination>
        </div>

        <!-- 新增或編輯產品元件 -->
        <product-modal-temp ref="productModalRef" :temp-product="tempProduct" :is-new="isNew"
            @get-products="getAllProducts">
        </product-modal-temp>

        <!-- 刪除產品元件 -->
        <del-product-modal-temp ref="delProductModalRef" :temp-product="tempProduct" @get-products="getAllProducts">
        </del-product-modal-temp>
    </div>

    <!-- 新增或編輯產品 Modal -->
    <script type="text/x-template" id="productModalTemplate">
        <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-white">
                        <h5 id="productModalLabel" class="modal-title">
                            <span v-if="isNew">新增產品</span>
                            <span v-else>編輯產品</span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <!-- 圖片新增區 -->
                            <div class="col-sm-4">
                                <div class="mb-2">
                                    <div class="mb-3">
                                        <label for="imageUrl" class="form-label">主要圖片</label>
                                        <input type="text" class="form-control" v-model="tempProduct.imageUrl"
                                            placeholder="請輸入圖片連結">
                                    </div>
                                    <img :src="tempProduct.imageUrl" class="img-fluid" alt="">
                                </div>
                                <h3>多圖新增</h3>
                                <div v-if="Array.isArray(tempProduct.imagesUrl)">
                                    <template v-for="(img,index) in tempProduct.imagesUrl" :key="index + 123">
                                        <div class="my-3">
                                            <label for="multiImg" class="form-label">圖片網址</label>
                                            <input type="text" class="form-control"
                                                v-model="tempProduct.imagesUrl[index]" placeholder="請輸入圖片網址">
                                        </div>
                                        <!-- 上傳檔案 -->
                                        <div class="mb-3">
                                            <label for="formFile" class="form-label">選擇檔案</label>
                                            <input class="form-control" type="file" @change="upload(index)">
                                        </div>
                                        <!-- :src="tempProduct.imagesUrl[index]" 也可以寫成 :src="img" -->
                                        <img :src="tempProduct.imagesUrl[index]" alt="">
                                    </template>
                                    <!-- v-if="!tempProduct.imagesUrl.length" 指陣列若沒有第一筆資料，要新增(顯示)一個新增按鈕。或是陣列最後一個位置是否有輸入文字，若有則再新增一個按鈕 -->
                                    <div
                                        v-if="!tempProduct.imagesUrl.length || tempProduct.imagesUrl[tempProduct.imagesUrl.length - 1]">
                                        <button class="btn btn-outline-primary btn-sm d-block w-100"
                                            @click="tempProduct.imagesUrl.push('')">
                                            新增圖片
                                        </button>
                                    </div>
                                    <!-- 若陣列有資料，顯示刪除按鈕，反之則不顯示 -->
                                    <div v-if="tempProduct.imagesUrl.length !== 0">
                                        <button class="btn btn-outline-danger btn-sm d-block w-100"
                                            @click="tempProduct.imagesUrl.pop()">
                                            刪除圖片
                                        </button>
                                    </div>
                                </div>
                                <div v-else>
                                    <button class="btn btn-outline-primary btn-sm d-block w-100" @click="createImages">
                                        新增圖片
                                    </button>
                                </div>
                            </div>

                            <!-- 資料輸入區 -->
                            <div class="col-sm-8">
                                <div class="mb-3">
                                    <label for="title" class="form-label">標題</label>
                                    <input id="title" type="text" class="form-control" v-model="tempProduct.title"
                                        placeholder="請輸入標題">
                                </div>

                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="category" class="form-label">分類</label>
                                        <input id="category" type="text" class="form-control"
                                            v-model="tempProduct.category" placeholder="請輸入分類">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="price" class="form-label">單位</label>
                                        <input id="unit" type="text" class="form-control" v-model="tempProduct.unit"
                                            placeholder="請輸入單位">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="origin_price" class="form-label">原價</label>
                                        <input id="origin_price" type="number" min="0" class="form-control"
                                            v-model.number="tempProduct.origin_price" placeholder="請輸入原價">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="price" class="form-label">售價</label>
                                        <input id="price" type="number" min="0" class="form-control"
                                            v-model.number="tempProduct.price" placeholder="請輸入售價">
                                    </div>
                                </div>
                                <hr>

                                <div class="mb-3">
                                    <label for="description" class="form-label">產品描述</label>
                                    <textarea id="description" type="text" class="form-control"
                                        v-model="tempProduct.description" placeholder="請輸入產品描述">
                                    </textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="content" class="form-label">說明內容</label>
                                    <textarea id="description" type="text" class="form-control"
                                        v-model="tempProduct.content" placeholder="請輸入說明內容">
                                    </textarea>
                                </div>
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input id="is_enabled" class="form-check-input" type="checkbox" :true-value="1"
                                            v-model="tempProduct.is_enabled" :false-value="0">
                                        <label class="form-check-label" for="is_enabled">是否啟用</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="updateProduct">確認</button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- 刪除產品 Modal -->
    <script type="text/x-template" id="delProductModalTemplate">
        <div id="delProductModal" ref="delProductModal" class="modal fade" tabindex="-1"
            aria-labelledby="delProductModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content border-0">
                    <div class="modal-header bg-danger text-white">
                        <h5 id="delProductModalLabel" class="modal-title">
                            <span>刪除產品</span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        是否刪除
                        <strong class="text-danger">{{tempProduct.title}}</strong> 商品(刪除後將無法恢復)。
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-danger" @click="deleteProduct">
                            確認刪除
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js'
        integrity='sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=='
        crossorigin='anonymous'></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script src="./javascript/products.js" type="module"></script>
</body>

</html>